.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.buy-now-button{
    color: white;
    background-color:#ff136f;
   border: none;
   padding: 9px 25px;
   border-radius: 10px;
}
.container{
    margin-bottom: 40px;
}